Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type
WarningsAsErrors: ""
HeaderFilterRegex: "^(include|src)/"
AnalyzeTemporaryDtors: true
FormatStyle: none
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: "NULL"
ExtraArgs:
  - "-std=c++17"
