BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
NamespaceIndentation: All
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Linux
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
