# Clone root override
# export SB_VERIFY_REPO_ROOT="$PWD/repos"

# ScratchBird native
# export SB_VERIFY_SB_NATIVE_HOST=127.0.0.1
# export SB_VERIFY_SB_NATIVE_PORT=13092
# export SB_VERIFY_SB_NATIVE_DB=main
# export SB_VERIFY_SB_NATIVE_USER=sb_admin
# export SB_VERIFY_SB_NATIVE_PASSWORD=SbAdmin_Compat1!

# ScratchBird Firebird emulation endpoint
# export SB_VERIFY_SB_FB_HOST=127.0.0.1
# export SB_VERIFY_SB_FB_PORT=13050
# export SB_VERIFY_SB_FB_DB=compat_firebird
# export SB_VERIFY_SB_FB_USER=SYSDBA
# export SB_VERIFY_SB_FB_PASSWORD=SysDbaCompat_1!

# ScratchBird PostgreSQL emulation endpoint
# export SB_VERIFY_SB_PG_HOST=127.0.0.1
# export SB_VERIFY_SB_PG_PORT=15432
# export SB_VERIFY_SB_PG_DB=regression
# export SB_VERIFY_SB_PG_USER=pg_admin
# export SB_VERIFY_SB_PG_PASSWORD=PgAdmin_Compat1!

# ScratchBird MySQL emulation endpoint
# export SB_VERIFY_SB_MY_HOST=127.0.0.1
# export SB_VERIFY_SB_MY_PORT=13306
# export SB_VERIFY_SB_MY_DB=compat_mysql
# export SB_VERIFY_SB_MY_USER=root
# export SB_VERIFY_SB_MY_PASSWORD=RootCompat_1!

# Reference Firebird endpoint
# export SB_VERIFY_REF_FB_HOST=127.0.0.1
# export SB_VERIFY_REF_FB_PORT=3050
# export SB_VERIFY_REF_FB_DB=/firebird/data/ref_verify_firebird.fdb
# export SB_VERIFY_REF_FB_USER=SYSDBA
# export SB_VERIFY_REF_FB_PASSWORD=masterkey

# Reference PostgreSQL endpoint
# export SB_VERIFY_REF_PG_HOST=127.0.0.1
# export SB_VERIFY_REF_PG_PORT=5432
# export SB_VERIFY_REF_PG_DB=postgres
# export SB_VERIFY_REF_PG_USER=postgres
# export SB_VERIFY_REF_PG_PASSWORD=postgres

# Reference MySQL endpoint
# export SB_VERIFY_REF_MY_HOST=127.0.0.1
# export SB_VERIFY_REF_MY_PORT=3306
# export SB_VERIFY_REF_MY_DB=mysql
# export SB_VERIFY_REF_MY_USER=root
# export SB_VERIFY_REF_MY_PASSWORD=root
